{%extends "layout.html"%}

{%block title%}
  GoodReviews
{%endblock%}

{%block heading%}
  <h2>Welcome</h2>
{%endblock%}

{%block body%}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">GoodReviews</a>
    <form action="{{url_for('home')}}" class="form-inline" method="post">
      <input class="form-control mr-sm-2" name="book" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" name="button" value="search" type="submit">Search</button>
    </form>
  </nav>
  <form action="{{url_for('index')}}" method="post">
    <div class="form-group">
      <div class="text-right">
        <button class="btn btn-outline-primary" name="button" value="log_out">log out</button>
      </div>
    </div>
  </form>
  <h3>Some of our books</h3>
  {%if books|length == 0%}
    {{message}}
  {%else%}
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {%for i in range(books|length//16+1)%}
          {%if i == 0%}
            <div class="carousel-item active">
              <div class="grid">
                {%for j in range(16)%}
                  {%if i*16+j < books|length%}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{books[i*16+j].title}}</h5>
                        <hr>
                        <p class="card-text">{{books[i*16+j].author}}, {{books[i*16+j].year}}</p>
                        <a href="{{url_for('book', isbn=books[i*16+j].isbn)}}" class="btn btn-primary">Review</a>
                      </div>
                    </div>
                  {%endif%}
                {%endfor%}
              </div>
            </div>
          {%else%}
            <div class="carousel-item">
              <div class="grid">
                {%for j in range(16)%}
                  {%if i*16+j < books|length%}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{books[i*16+j].title}}</h5>
                        <hr>
                        <p class="card-text">{{books[i*16+j].author}}, {{books[i*16+j].year}}</p>
                        <a href="{{url_for('book', isbn=books[i*16+j].isbn)}}" class="btn btn-primary">Review</a>
                      </div>
                    </div>
                  {%endif%}
                {%endfor%}
              </div>
            </div>
          {%endif%}
        {%endfor%}
      </div>
      <ol class="carousel-indicators">
        {%for i in range(books|length//16+1)%}
          {%if i == 0%}
            <li data-target="#carousel" data-slide-to={{i}} class="active"></li>
            {%else%}
            <li data-target="#carousel" data-slide-to={{i}}></li>
          {%endif%}
        {%endfor%}
      </ol>
    </div>
  {%endif%}
{%endblock%}
