{%extends "layout.html"%}

{%block title%}
{%endblock%}
GoodReviews
{%block heading%}
  <h1>GoodReviews</h1>
{%endblock%}

{%block body%}
  <div class="new-user">
    <form action="{{url_for('home')}}" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" value="">
      </div>
      <div class="form-grupo">
        <button class="btn btn-info" name="button" value="log_in">login</button>
      </div>
    </form>
    <hr>
    <h3 class="new-label">New to Good Reviews?</h3>
    <form class="sign_up" action="{{url_for('home')}}" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" value="">
        </div>
        <div class="form-grupo">
          <button class="btn btn-info" name="button" value="sign_up">sign up</button>
        </div>
    </form>
  </div>
{%endblock%}
